
@{
    ViewBag.Title = "NonFBParentReport";
}

@model FarmerBrothers.Models.NonFBParentReportModel

@using FarmerBrothers.Data;
@using Newtonsoft.Json;
@using Syncfusion.MVC.EJ;
@using Syncfusion.JavaScript;

<style>
    .e-grid .e-toolbar > .e-horizontal.e-ul {
        vertical-align: middle;
        float: left;
        height: auto;
    }

    a.disabled {
        pointer-events: none;
    }
</style>

<script type="text/javascript">
    var formDirty = false;

    var serverTimeZoneDiff = -7.0   // if your server is in EST time zone (UTC -5.0) (in hours)
    var clientSideTimeZoneDiff = new Date().getTimezoneOffset() / 60; // get client time zone differents and convert it to hours;
    ej.serverTimezoneOffset = clientSideTimeZoneDiff;

    $(document).ready(function () {
        $('#ReportLink').css("color", "white");
        console.debug("at page lode = " + ej.serverTimeZoneOffset)
        $('#ReportsLink').css("color", "white");

        $("#DateFrom").ejDatePicker({ value: new Date($("#DateFrom").val()) });
        $("#DateTo").ejDatePicker({ value: new Date($("#DateTo").val()) });

        $('#NonFBParentReportResults').ejGrid({
            exportToExcelAction : '@Url.Action("NonFBParentReportExcelExport", "Reports")',
            toolbarSettings: { showToolbar: true, toolbarItems: [ej.Grid.ToolBarItems.ExcelExport] },
            allowPaging: true,
            isResponsive: true,
            enableResponsiveRow: true,
            allowSorting:true ,
            allowTextWrap: true,
            allowResizeToFit : true,
            queryCellInfo:"queryCellInfo",
            dataSource : @Html.Raw(Json.Encode(Model.SearchResults)),
            columns: [
                { field: "WorkorderID", headerText: "Workorder#" },
                { field: "CustomerID", headerText: "Account#" },
                { field: "CustomerName", headerText: "Customer Name" },
                { field: "TechID", headerText: "Tech#" },
                { field: "TechName", headerText: "Tech Name" },
                { field: "ContactName", headerText: "Contact Name" },
                { field: "CreatedBy", headerText: "Created By" },
                { field: "CreatedDate", headerText: "Created Date" },
                { field: "ParentId", headerText: "Parent Id" },
                { field: "ParentName", headerText: "Parent Name" }
            ]
        });

        $("form").submit(function (e) {

            if (ValidateSearchCriteria() == true) {
                var frmValues = $("form").serialize();
                $.ajax({
                    type: "post",
                    url: "@Url.Action("SearchNonFBParentReport", "Reports")",
                    data: frmValues
                }).done(function( result ) {
                    var obj = $("#NonFBParentReportResults").ejGrid("instance");
                    obj.dataSource(result);
                });
            }

            e.preventDefault();
        });
    });

    function SearchClear() {
        $('.form-control').val('');
    }

    function ValidateSearchCriteria()
    {
        var valid = true;
        var message = "";
        if ($('#DateFrom').val() == "" && $('#DateTo').val() == "")
        {
            message += "|Please Enter Start and End Date";
            valid = false;
        }
        if ($("#ParentId").val() == "n/a" || $("#ParentId").val() == "") {
            message += "|Please Select Parent";
            valid = false;
        }
        if(($('#DateFrom').val() != "" && $('#DateTo').val() == "") || ($('#DateFrom').val() == "" && $('#DateTo').val() != ""))
        {
            message += "|Please Enter both start and End Date";
            valid = false;
        }

        if (message != "") {
            AlertPopup(message);
        }

        return valid;
    }

    function ClearNonFBParentReportSearchResults() {
        $('.form-control').val('');

        $.ajax({
            type: "post",
            url: "@Url.Action("ClearNonFBParentReportSearchResults", "Reports")",
        }).done(function (result) {
            $("#ParentId").val("n/a");
            var obj = $("#NonFBParentReportResults").ejGrid("instance");
            obj.dataSource(result);
        });
        return false;
    }
</script>


@using (Html.BeginForm())
{
    <section class="container-fluid white-bg pad">
        <div class="row top-info">
            <div class="col-md-11">
                <b>NonFB Parent Report</b>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Back", "AllReports", "Reports", new { @IsBack = 1 }, new { @Class = "btn btn-primary" })
            </div>
        </div>
    </section>

    <section class="well">
        <div class="row top-info">
            <div class="customer-content margin-top">
                <div class="row customer clear-input">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div class="form-group right-inner-addon">
                                Start Date :
                                @Html.TextBoxFor(c => c.DateFrom, new { @class = "form-control SearchPanelControl", @Id = "DateFrom" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group right-inner-addon">
                                END Date :
                                @Html.TextBoxFor(c => c.DateTo, new { @class = "form-control SearchPanelControl", @Id = "DateTo" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group right-inner-addon">
                                Parent # :
                                @*@Html.TextBoxFor(c => c.ParentId, new { @class = "form-control SearchPanelControl", @Id = "ParentId" })*@
                                @Html.DropDownListFor(t => t.ParentId, new SelectList(Model.ParentList, "NonFBCustomerId", "NonFBCustomerName", "None"), new { @class = "form-control SearchPanelControl", @Id = "ParentId" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group right-inner-addon" style="top:1.3em;">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <a onclick="ClearNonFBParentReportSearchResults()" class="btn btn-orange">Clear</a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>
    </section>

}

<section class="block margin-top">
    <div class="container-fluid">
        <div class="row top-info">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <b>Search Results</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <table id="NonFBParentReportResults" class="display" cellspacing="0" width="100%"></table>
            </div>
        </div>
    </div>
</section>


